Named Entity Recognition and Classification (NERC) is a process of recognizing information units like names, including person, organization and location names, and numeric expressions including time, date, money and percent expressions from unstructured text. The goal is to develop practical and domain-independent techniques in order to detect named entities with high accuracy automatically.

Link : https://towardsdatascience.com/named-entity-recognition-and-classification-with-scikit-learn-f05372f07ba2

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [11]:
df = pd.read_csv('ner_dataset.csv', encoding = "ISO-8859-1")
df = df[:60000]
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [12]:
df.isnull().sum()

Sentence #    57291
Word              0
POS               0
Tag               0
dtype: int64

In [13]:
df = df.fillna(method='ffill') #ffill: propagate last valid observation forward to next valid

In [14]:
df['Sentence #'].nunique() , df.Word.nunique(), df.Tag.nunique()  #nunique = number of unique values

(2709, 8308, 17)

In [15]:
df.groupby('Tag').size().reset_index(name='counts')

      Tag  counts
0   B-art      53
1   B-eve      41
2   B-geo    1826
3   B-gpe    1139
4   B-nat      19
5   B-org    1138
6   B-per     975
7   B-tim    1053
8   I-art      34
9   I-eve      33
10  I-geo     382
11  I-gpe      32
12  I-nat       9
13  I-org     833
14  I-per    1118
15  I-tim     306
16      O   51009

In [16]:
df.groupby('Tag').size().reset_index(name="numero")

      Tag  numero
0   B-art      53
1   B-eve      41
2   B-geo    1826
3   B-gpe    1139
4   B-nat      19
5   B-org    1138
6   B-per     975
7   B-tim    1053
8   I-art      34
9   I-eve      33
10  I-geo     382
11  I-gpe      32
12  I-nat       9
13  I-org     833
14  I-per    1118
15  I-tim     306
16      O   51009

In [17]:
X = df.drop('Tag', axis=1)
X.head()

    Sentence #           Word  POS
0  Sentence: 1      Thousands  NNS
1  Sentence: 1             of   IN
2  Sentence: 1  demonstrators  NNS
3  Sentence: 1           have  VBP
4  Sentence: 1        marched  VBN

In [18]:
v = DictVectorizer(sparse=False)
# ordina gli elementi della prima colonna e crea tipo un one hot encoding 
# es :   gino  :  astra
#        sante :  alpaca
#        [1,0,0,1]  =>  gino sante alpaca 
#        [0,1,1,0]
X = v.fit_transform(X.to_dict('records'))
y = df.Tag.values
classes = np.unique(y)
classes = classes.tolist()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=0)
X_train.shape, y_train.shape

((40200, 11058), (40200,))

In [22]:
# è 11058 perchè la somma di unique values della colonna sentence word e pos è 11058 quindi 
# quando si va a mappare in stile word2vec ho bisogno di 11058 colonne
df['Sentence #'].nunique() + df['Word'].nunique() + df['POS'].nunique()

11058

In [10]:
df['Tag'].nunique()

17

---------------------- Example dictvectorizer----------------------------

In [49]:
k = pd.DataFrame([['alfa','alla'],['alca','billi'],['a','alla']])

In [50]:
k

      0      1
0  alfa   alla
1  alca  billi
2     a   alla

In [51]:
k.to_dict('records')

[{0: 'alfa', 1: 'alla'}, {0: 'alca', 1: 'billi'}, {0: 'a', 1: 'alla'}]

In [52]:
v = DictVectorizer(sparse=False)
X = v.fit_transform(k.to_dict('records'))

In [53]:
X

array([[0., 0., 1., 1., 0.],
       [0., 1., 0., 0., 1.],
       [1., 0., 0., 1., 0.]])

-------------------------------Finish example-----------------------------

Out-of-core Algorithms

We will try some of the out-of-core algorithms that are designed to process data that is too large to fit into a single computer memory that support partial_fit method

In [24]:
per = Perceptron(verbose=1, n_jobs=-1, max_iter=5)
per.partial_fit(X_train, y_train, classes)

c:\users\gatto\appdata\local\programs\python\python35\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:183: FutureWarning: max_iter and tol parameters have been added in Perceptron in 0.19. If max_iter is set but tol is left unset, the default value for tol in 0.19 and 0.20 will be None (which is equivalent to -infinity, so it has no effect) but will change in 0.21 to 1e-3. Specify tol to silence this warning.
  FutureWarning)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

-- Epoch 1-- Epoch 1
-- Epoch 1-- Epoch 1


-- Epoch 1-- Epoch 1-- Epoch 1-- Epoch 1



Norm: 46.07, NNZs: 1315, Bias: -4.000000, T: 40200, Avg. loss: 0.035498
Total training time: 2.19 seconds.
-- Epoch 1
Norm: 11.14, NNZs: 101, Bias: -2.000000, T: 40200, Avg. loss: 0.001294
Total training time: 2.22 seconds.
-- Epoch 1
Norm: 36.52, NNZs: 771, Bias: -4.000000, T: 40200, Avg. loss: 0.016940
Total training time: 2.22 seconds.
-- Epoch 1
Norm: 6.78, NNZs: 43, Bias: -2.000000, T: 40200, Avg. loss: 0.000672
Total training time: 2.22 seconds.
-- Epoch 1
Norm: 12.21, NNZs: 129, Bias: -3.000000, T: 40200, Avg. loss: 0.001468
Total training time: 2.31 seconds.
-- Epoch 1
Norm: 39.22, NNZs: 1064, Bias: -6.000000, T: 40200, Avg. loss: 0.023209
Total training time: 2.34 seconds.
-- Epoch 1
Norm: 51.82, NNZs: 1597, Bias: -3.000000, T: 40200, Avg. loss: 0.040970
Total training time: 2.35 seconds.
-- Epoch 1
Norm: 44.42, NNZs: 1054, Bias: -3.000000, T: 40200, Avg. loss: 0.019279
Total training time: 2.52 seconds.
-- Epoch 1
Norm: 9.17, NNZs: 78, Bias: -4.000000, T: 40200, Avg. loss: 0.001144Norm: 9.33, NNZs: 78, Bias: -3.000000, T: 40200, Avg. loss: 0.000846
Total training time: 2.12 seconds.

Total training time: 2.05 seconds.
-- Epoch 1
Norm: 9.64, NNZs: 84, Bias: -3.000000, T: 40200, Avg. loss: 0.001269
Total training time: 2.20 seconds.
Norm: 27.20, NNZs: 511, Bias: -4.000000, T: 40200, Avg. loss: 0.011095Norm: 41.56, NNZs: 1013, Bias: -3.000000, T: 40200, Avg. loss: 0.022438
Total training time: 2.07 seconds.

Total training time: 2.15 seconds.
Norm: 6.32, NNZs: 29, Bias: -2.000000, T: 40200, Avg. loss: 0.000249
Total training time: 2.20 seconds.
Norm: 48.59, NNZs: 1404, Bias: -5.000000, T: 40200, Avg. loss: 0.027687
Total training time: 2.23 seconds.
Norm: 25.24, NNZs: 451, Bias: -3.000000, T: 40200, Avg. loss: 0.011219
Total training time: 2.13 seconds.
Norm: 56.64, NNZs: 1747, Bias: 2.000000, T: 40200, Avg. loss: 0.046915
Total training time: 0.66 seconds.

[Parallel(n_jobs=-1)]: Done  17 out of  17 | elapsed:    4.9s finished

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
      fit_intercept=True, max_iter=5, n_iter=None, n_iter_no_change=5,
      n_jobs=-1, penalty=None, random_state=0, shuffle=True, tol=None,
      validation_fraction=0.1, verbose=1, warm_start=False)

In [25]:
print(classification_report(y_pred=per.predict(X_test), y_true=y_test, labels=classes))

c:\users\gatto\appdata\local\programs\python\python35\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

       B-art       0.20      0.30      0.24        20
       B-eve       0.01      0.38      0.01        13
       B-geo       0.57      0.68      0.62       630
       B-gpe       0.22      0.81      0.34       353
       B-nat       0.00      0.00      0.00         7
       B-org       0.50      0.33      0.40       360
       B-per       0.95      0.30      0.46       335
       B-tim       0.91      0.67      0.77       357
       I-art       0.00      0.00      0.00        10
       I-eve       0.33      0.07      0.12        14
       I-geo       0.70      0.24      0.36       128
       I-gpe       0.00      0.00      0.00        10
       I-nat       0.00      0.00      0.00         2
       I-org       0.47      0.59      0.52       271
       I-per       0.73      0.37      0.49       372
       I-tim       0.24      0.18      0.20       107
           O       0.99      0.92      0.96     16811

   micro avg       0.86      0.86      0.86     19800
   macro avg       0.40      0.34      0.32     19800
weighted avg       0.93      0.86      0.89     19800

Because tag “O” (outside) is the most common tag and it will make our results
look much better than they actual are. So we remove tag “O” when we evaluate 
classification metrics.

In [57]:
new_classes = classes.copy()
new_classes.pop()
new_classes

['B-art',
 'B-eve',
 'B-geo',
 'B-gpe',
 'B-nat',
 'B-org',
 'B-per',
 'B-tim',
 'I-art',
 'I-eve',
 'I-geo',
 'I-gpe',
 'I-nat',
 'I-org',
 'I-per',
 'I-tim']

In [31]:
print(classification_report(y_pred=per.predict(X_test), y_true=y_test, labels=classes))

              precision    recall  f1-score   support

       B-art       0.20      0.30      0.24        20
       B-eve       0.01      0.38      0.01        13
       B-geo       0.57      0.68      0.62       630
       B-gpe       0.22      0.81      0.34       353
       B-nat       0.00      0.00      0.00         7
       B-org       0.50      0.33      0.40       360
       B-per       0.95      0.30      0.46       335
       B-tim       0.91      0.67      0.77       357
       I-art       0.00      0.00      0.00        10
       I-eve       0.33      0.07      0.12        14
       I-geo       0.70      0.24      0.36       128
       I-gpe       0.00      0.00      0.00        10
       I-nat       0.00      0.00      0.00         2
       I-org       0.47      0.59      0.52       271
       I-per       0.73      0.37      0.49       372

   micro avg       0.37      0.53      0.44      2882
   macro avg       0.37      0.32      0.29      2882
weighted avg       0.61      0.53      0.51      2882

c:\users\gatto\appdata\local\programs\python\python35\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [76]:
sgd = SGDClassifier()
sgd.partial_fit(X_train, y_train, classes)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=None,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=None,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [78]:
print(classification_report(y_pred=sgd.predict(X_test), y_true=y_test, labels=new_classes))

c:\users\gatto\appdata\local\programs\python\python35\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

       B-art       0.20      0.25      0.22        20
       B-eve       0.40      0.15      0.22        13
       B-geo       0.71      0.47      0.57       630
       B-gpe       0.95      0.50      0.65       353
       B-nat       0.00      0.00      0.00         7
       B-org       0.58      0.43      0.49       360
       B-per       0.27      0.82      0.41       335
       B-tim       0.93      0.67      0.78       357
       I-art       1.00      0.10      0.18        10
       I-eve       1.00      0.29      0.44        14
       I-geo       0.52      0.49      0.51       128
       I-gpe       0.00      0.00      0.00        10
       I-nat       0.00      0.00      0.00         2
       I-org       0.70      0.38      0.49       271
       I-per       0.67      0.43      0.52       372
       I-tim       0.08      0.02      0.03       107

   micro avg       0.55      0.50      0.52      2989
   macro avg       0.50      0.31      0.35      2989
weighted avg       0.66      0.50      0.53      2989